<!DOCTYPE html>
<!-- ... -->
<table class="display responsive" style="width:100%">
    <thead>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Number*</td>
            <td id="add_new_product_confirm_number"></td>
        </tr>
        <tr>
            <td>Name*</td>
            <td id="add_new_product_confirm_name"></td>
        </tr>
        <tr>
            <td>Location*</td>
            <td id="add_new_product_confirm_location"></td>
        </tr>
        <tr>
            <td>Owner*</td>
            <td id="add_new_product_confirm_owner"></td>
        </tr>
        <tr>
            <td>Elements*</td>
            <td id="add_new_product_confirm_elements"></td>
        </tr>
        <tr>
            <td>Height [cm]</td>
            <td id="add_new_product_confirm_height"></td>
        </tr>
        <tr>
            <td>Width [cm]</td>
            <td id="add_new_product_confirm_width"></td>
        </tr>
        <tr>
            <td>Lowness [cm]</td>
            <td id="add_new_product_confirm_lowness"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td id="add_new_product_confirm_description"></td>
        </tr>
        <tr>
            <td>Serial Number*</td>
            <td id="add_new_product_confirm_s_number"></td>
        </tr>
        <tr>
            <td>P Number</td>
            <td id="add_new_product_confirm_p_number"></td>
        </tr>
        <tr>
            <td>Software</td>
            <td id="add_new_product_confirm_software"></td>
        </tr>
        <tr>
            <td>Firmware</td>
            <td id="add_new_product_confirm_firmware"></td>
        </tr>
    </tbody>
</table>