<!DOCTYPE html>
<!-- Modal-body for add new sensor -->
<div class="row">
    <div class="col-xs-6">
        <p class="text_weseras">Name*</p>
    </div>
    <div class="col-xs-6">
        <p id="modal_add_sensor_name">ToDO: add</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <p class="text_weseras">Number*</p>
    </div>
    <div class="col-xs-6">
        <p id="modal_add_sensor_number">ToDO: add</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <p class="text_weseras">Location*</p>
    </div>
    <div class="col-xs-6">
        <p id="modal_add_sensor_location">ToDO: add</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <p class="text_weseras">Owner*</p>
    </div>
    <div class="col-xs-6">
        <p id="modal_add_sensor_owner">ToDO: add</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <p class="text_weseras">Elements*</p>
    </div>
    <div class="col-xs-6">
        <p id="modal_add_sensor_elements">ToDO: add</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <p class="text_weseras">Serial Number*</p>
    </div>
    <div class="col-xs-6">
        <p id="modal_add_sensor_s_number">ToDO: add</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <p class="text_weseras">P Number</p>
    </div>
    <div class="col-xs-6">
        <p id="modal_add_sensor_p_number">ToDO: add</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <p class="text_weseras">Software</p>
    </div>
    <div class="col-xs-6">
        <p id="modal_add_sensor_software">ToDO: add</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <p class="text_weseras">Firmware</p>
    </div>
    <div class="col-xs-6">
        <p id="modal_add_sensor_firmware">ToDO: add</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <p class="text_weseras">Possible cabels</p>
    </div>
    <div class="col-xs-6">
        <p id="modal_add_sensor_cabels">ToDO: add</p>
    </div>
</div>
<!--/Modal-body for add new sensor -->
