<!DOCTYPE html>
<!-- ... -->
<div class="row">
    <div class="col-xs-12 text-center">
        <p style="color: #003e8c; margin-top: 0.375em;">Add new sensor</p>
    </div>
</div>
<hr class="seperator">
<ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#add_new_sensor_tab_location">Location and relations</a></li>
    <li><a data-toggle="tab" href="#add_new_sensor_tab_attributes">Attributes</a></li>
    <li><a data-toggle="tab" href="#add_new_sensor_tab_confirm_and_photo">Confirm and photo</a></li>
</ul>
<div class="tab-content">
    <div id="add_new_sensor_tab_location" class="tab-pane fade in active">
        <div class="row">
            <div class="col-xs-9">
                <table id="add_new_sensor_table_location" class="display responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Line</th>
                            <th>Box</th>
                        </tr>
                    </thead>
                    <tbody id="add_new_sensor_table_location_body">
                        <tr class='table_row_placeholder'>
                            <td>Placeholder</td>
                            <td>Placeholder</td>
                            <td>Placeholder</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Number</th>
                            <th>Name</th>
                            <th>Box</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-xs-3">
                <div class="row">
                    <div class="col-xs-12">
                        <p id="add_new_sensor_info_text_location" class="text_weseras" style = "text-align: center;">
                            Please select where the sensor is located.
                        </p>
                    </div>
                </div>
                <hr class="seperator">
                <div class="row">
                    <div class="col-xs-12">
                        <button id="add_new_sensor_scroll_to_possible_locations_down" type="button" class="btn btn-weseras btn-full-width">
                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Next step
                        </button>
                    </div>
                </div>
                <hr class="seperator">
                <div class="alert alert-error" id="alert_error_selected_location" role="alert" style="display:none; margin-bottom: 5px;">
                    Please select at least one location.
                </div>
            </div>
        </div>
        <hr class="seperator">
        <div class="row">
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-12">
                        <table id="add_new_sensor_table_possible_locations" class="display responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Line</th>
                                    <th>Box</th>
                                </tr>
                            </thead>
                            <tbody id="add_new_sensor_table_possible_locations_body">
                                <tr class='table_row_placeholder'>
                                    <td>Placeholder</td>
                                    <td>Placeholder</td>
                                    <td>Placeholder</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Number</th>
                                    <th>Name</th>
                                    <th>Box</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="row">
                    <div class="col-xs-12">
                        <p id="add_new_sensor_info_text_possible_locations" class="text_weseras" style = "text-align: center;">
                            Please select locations where the sensor is allowed to store or to install.
                        </p>
                    </div>
                </div>
                <hr class="seperator">
                <div class="row">
                    <div class="col-xs-12">
                        <button id="add_new_sensor_scroll_to_location_up" type="button" class="btn btn-weseras btn-full-width">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Next step
                        </button>
                        <button id="add_new_sensor_scroll_to_related_equipment_down" type="button" class="btn btn-weseras btn-full-width">
                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Next step
                        </button>
                    </div>
                </div>
                <hr class="seperator">
                <div class="row">
                    <div class="col-xs-12">
                        <input id="add_new_sensor_checkbox_possible_locations_select_all_or_none" 
                               class="bootstrap_toggle" data-toggle="toggle" type="checkbox"
                               data-on="Select<br>all" data-off="Select<br>none" data-onstyle="primary toggle_on">
                    </div>
                </div>
                <hr class="seperator">
                <div class="alert alert-error" id="alert_error_selected_possible_locations" role="alert" style="display:none; margin-bottom: 5px;">
                    Please select at least one location.
                </div>
            </div>
        </div>
    </div>
    <div id="add_new_sensor_tab_attributes" class="tab-pane fade">

    </div>
    <div id="add_new_sensor_tab_confirm_and_photo" class="tab-pane fade">

    </div>
</div>
<script src="js/bootstrap_own.js"></script>
<script src="js/data_tables.js"></script>
<script>
$(document).ready(function() {
    
    table_filter_by_col_and_select_single_row(
        '#add_new_sensor_table_location', 
        '#add_new_sensor_table_location_body',
        new_product
    );
    
    table_filter_by_col_and_select_multiple_rows(
        '#add_new_sensor_table_possible_locations', 
        '#add_new_sensor_table_possible_locations_body', 
        [],
        new_product
    );
    
    $("#add_new_sensor_scroll_to_possible_locations_down").click(function() {
        $('html,body').animate({scrollTop: $("#add_new_sensor_info_text_possible_locations").offset().top},'slow');
    });
    
    $("#add_new_sensor_scroll_to_location_up").click(function() {
        $('html,body').animate({scrollTop: $("#add_new_sensor_info_text_location").offset().top},'slow');
    });

    /*
    $('#btn_add_sensor_continue_first_step').on('click', function(){
        
        selected_location = get_values_of_radios();
        selected_possible_locations = get_values_of_checkboxes();
        
        new_product.location = selected_location[0];
        new_product.possible_locations = selected_possible_locations;
        
        if(selected_location.length === 0) {
            $('#alert_error_selected_location').fadeIn();
            setTimeout(function () {$('#alert_error_selected_location').fadeOut();}, 7342); 
        } else if(selected_possible_locations.length === 0) {
            $('#alert_error_selected_possible_locations').fadeIn();
            setTimeout(function () {$('#alert_error_selected_possible_locations').fadeOut();}, 7342); 
        } else if(selected_location[0] === 'Lent') {
            // verify if date and not empty
        } else {
            console.log("Try to change template for modal for adding new product to 'add_sensor_2'");
            $('#main_container').load('templates/templates_add/templates_add_sensor/template_add_sensor_2.html');
        }
    });
    
    $('#btn_add_location_from_modal_add_sensor').on('click', function(){
        console.log("Try to change template to 'add_location_1");
        $('#main_container').load('templates/templates_add/templates_add_sensor/template_add_location_1.html');
    });*/
});
</script>