<!DOCTYPE html>
<!-- ... -->
<div class="row">
    <div class="col-xs-4">
       <p class="text_weseras">Serial Number:</p>
    </div>
    <div class="col-xs-4">
       <p id="modal_item_sensor_s_number">unknown</p>
    </div>
    <div class="col-xs-4">
        <p id="modal_item_sensor_s_number_edit">ToDO: edit</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
       <p class="text_weseras">P Number:</p>
    </div>
    <div class="col-xs-4">
       <p id="modal_item_sensor_p_number">unknown</p>
    </div>
     <div class="col-xs-4">
        <p id="modal_item_sensor_p_number_edit">ToDO: edit</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
       <p class="text_weseras">Software</p>
    </div>
    <div class="col-xs-4">
       <p id="modal_item_sensor_software">unknown</p>
    </div>
    <div class="col-xs-4">
        <p id="modal_item_sensor_software_edit">ToDO: edit</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
       <p class="text_weseras">Firmware</p>
    </div>
    <div class="col-xs-4">
       <p id="modal_item_sensor_firmware">unknown</p>
    </div>
    <div class="col-xs-4">
        <p id="modal_item_sensor_firmware_edit">ToDO: edit</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
       <p class="text_weseras">Possible cabels</p>
    </div>
    <div class="col-xs-4">
       <p id="modal_item_sensor_cabels">unknown</p>
    </div>
    <div class="col-xs-4">
        <p id="modal_item_sensor_cabels_edit">ToDO: edit</p>
    </div>
</div>
