<!DOCTYPE html>
<!-- ... -->
<div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-2">
        <p style="text-align: center; color: #003e8c; margin-top: 0.375em;">All</p>
    </div>
    <div class="col-xs-9">
    </div>
</div>
<hr class="seperator">
<div class="row">
    <div class="fw-body">
        <div class="content">
            <table id="table_any_type" class="display responsive" style="width:100%">
                <thead>
                    <tr>
                        <th class="col_id">ID</th>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Location</th>
                        <th>Owner</th>
                        <th>Elements</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row_item_all">
                        <td class="col_id">id</td>
                        <td>Power cabel UCE</td>
                        <td>045</td>
                        <td>ELYK</td>
                        <td>Weser AS</td>
                        <td>UCEagle</td>
                    </tr>
                    <tr class="row_item_all">
                        <td class="col_id">id</td>
                        <td>Aircraft cabel</td>
                        <td>099</td>
                        <td>ITOL</td>
                        <td>Weser AS</td>
                        <td>CCNS4</td>
                    </tr>
                    <tr class="row_item_all">
                        <td class="col_id">id</td>
                        <td>IMU Transport Box</td>
                        <td>024</td>
                        <td>Storage 004-5-7</td>
                        <td>AVT</td>
                        <td>AEROcontrol</td>
                    </tr>
                    <tr class="row_item_all">
                        <td class="col_id">id</td>
                        <td>Mission Card 32MB</td>
                        <td>544</td>
                        <td>Storage 062-2-9</td>
                        <td>Weser AS</td>
                        <td>CCNS4</td>
                    </tr>
                    <tr class="row_item_all">
                        <td class="col_id">id</td>
                        <td>Mission Card 32MB</td>
                        <td>544</td>
                        <td>Storage 062-2-9</td>
                        <td>Weser AS</td>
                        <td>CCNS4</td>
                    </tr>
                    <tr class="row_item_all">
                        <td class="col_id">id</td>
                        <td>Mission Card 32MB</td>
                        <td>544</td>
                        <td>Storage 062-2-9</td>
                        <td>Weser AS</td>
                        <td>CCNS4</td>
                    </tr>
                    <tr class="row_item_all">
                        <td class="col_id">id</td>
                        <td>Mission Card 32MB</td>
                        <td>544</td>
                        <td>Storage 062-2-9</td>
                        <td>Weser AS</td>
                        <td>CCNS4</td>
                    </tr>
                    <tr class="row_item_all">
                        <td class="col_id">id</td>
                        <td>Mission Card 32MB</td>
                        <td>544</td>
                        <td>Storage 062-2-9</td>
                        <td>Weser AS</td>
                        <td>CCNS4</td>
                    </tr>
                    <tr class="row_item_all">
                        <td class="col_id">id</td>
                        <td>Mission Card 32MB</td>
                        <td>544</td>
                        <td>Storage 062-2-9</td>
                        <td>Weser AS</td>
                        <td>CCNS4</td>
                    </tr>
                    <tr class="row_item_all">
                        <td class="col_id">id</td>
                        <td>Mission Card 32MB</td>
                        <td>544</td>
                        <td>Storage 062-2-9</td>
                        <td>Weser AS</td>
                        <td>CCNS4</td>
                    </tr>
                    <tr class="row_item_all">
                        <td class="col_id">id</td>
                        <td>IMU Transport Box</td>
                        <td>024</td>
                        <td>Storage 004-5-7</td>
                        <td>AVT</td>
                        <td>AEROcontrol</td>
                    </tr>
                    <tr class="row_item_all">
                        <td class="col_id">id</td>
                        <td>IMU Transport Box</td>
                        <td>024</td>
                        <td>Storage 004-5-7</td>
                        <td>AVT</td>
                        <td>AEROcontrol</td>
                    </tr>
                    <tr class="row_item_all">
                        <td class="col_id">id</td>
                        <td>IMU Transport Box</td>
                        <td>024</td>
                        <td>Storage 004-5-7</td>
                        <td>AVT</td>
                        <td>AEROcontrol</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th class="col_id">ID</th>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Location</th>
                        <th>Owner</th>
                        <th>Elements</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!-- ... -->
<!-- Modal for single item -->
<div class="modal fade" id="modal_item_all" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modal_item_all_header" class="modal-title">unknown</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-4">
                        <p class="text_weseras">Number</p>
                    </div>
                    <div class="col-xs-4">
                        <p id="modal_item_all_number">unknown</p>
                    </div>
                    <div class="col-xs-4">
                        <p id="modal_item_all_number_edit">ToDO: edit</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <p class="text_weseras">Location</p>
                    </div>
                    <div class="col-xs-4">
                        <p id="modal_item_all_location">unknown</p>
                    </div>
                    <div class="col-xs-4">
                        <p id="modal_item_all_location_edit">ToDO: edit</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <p class="text_weseras">Owner</p>
                    </div>
                    <div class="col-xs-4">
                        <p id="modal_item_all_owner">unknown</p>
                    </div>
                   <div class="col-xs-4">
                        <p id="modal_item_all_owner_edit">ToDO: edit</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <p class="text_weseras">Elements</p>
                    </div>
                    <div class="col-xs-4">
                        <p id="modal_item_all_elements">unknown</p>
                    </div>
                    <div class="col-xs-4">
                        <p id="modal_item_all_elements_edit">ToDO: edit</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" id="further_cols_edit">
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-weseras">Image</button>
                <button type="button" class="btn btn-weseras">Edit</button>
                <button type="button" class="btn btn-delete">Delete</button>
            </div>
        </div>
    </div>
</div>
<!--/Modal for single item -->
<!-- -->
<script src="js/search_edit_add.js"></script>
<script src="js/templating_modals_edit.js"></script>
<script>
    $(document).ready(function() {
        $(".col_id").hide();
    });
</script>
